version: "3.7"

# Compose for ur mongo instance
services:
  # Mongo instance directly
  mongo:
    image: mongo
    environment:
      - MONGO_INITDB_ROOT_USERNAME=${MONGO_USER}
      - MONGO_INITDB_ROOT_PASSWORD=${MONGO_PASSWORD}
      - MONGO_INITDB_DATABASE=${MONGO_DATABASE}
    volumes:
      - ./mongo/data:/data
      - ./mongo/init:/docker-entrypoint-initdb.d:ro

  # Mongo express, to view our database
  mongo-express:
    image: mongo-express
    restart: always
    environment:
      # MongoDB credentials
      - ME_CONFIG_MONGODB_ADMINUSERNAME=${MONGO_USER}
      - ME_CONFIG_MONGODB_ADMINPASSWORD=${MONGO_PASSWORD}
      # MongoExpress web credentials
      - ME_CONFIG_BASICAUTH_USERNAME=${MONGOEXPRESS_LOGIN}
      - ME_CONFIG_BASICAUTH_PASSWORD=${MONGOEXPRESS_PASSWORD}
      # MongoDB specific config
      - ME_CONFIG_MONGODB_ENABLE_ADMIN=true
    depends_on:
      - mongo
    ports:
      - "8081:8081"
