version: "3.7"

# Compose for ur mongo instance
services:
  # Mongo instance directly
  mongo:
    image: mongo
    volumes:
      - ./mongo/data:/data


  # Mongo instance directly
  mongo-seed:
    build: ./mongo/seed
    depends_on:
      - mongo

  # Mongo express, to view our database
  mongo-express:
    image: mongo-express
    restart: always
    environment:
      # MongoExpress web credentials
      - ME_CONFIG_BASICAUTH_USERNAME=${MONGOEXPRESS_LOGIN}
      - ME_CONFIG_BASICAUTH_PASSWORD=${MONGOEXPRESS_PASSWORD}
      # MongoDB specific config
      - ME_CONFIG_MONGODB_ENABLE_ADMIN=true
    depends_on:
      - mongo
    ports:
      - "8081:8081"

