version: "3.7"

# Compose for the spark instances
services:
  # Spark Master instance
  master:
    image: gettyimages/spark
    command: bin/spark-class org.apache.spark.deploy.master.Master -h master
    hostname: master
    environment:
      MASTER: spark://master:7077
      SPARK_CONF_DIR: /conf
      SPARK_PUBLIC_DNS: localhost
    expose:
      - 7001
      - 7002
      - 7003
      - 7004
      - 7005
      - 7077
      - 6066
    ports:
      - 4040:4040
      - 6066:6066
      - 7077:7077
      - 8080:8080
    volumes:
      - ./spark/conf/master:/conf
      - ./spark/data:/tmp/data

  # Spark Worker instance
  worker:
    image: gettyimages/spark
    command: bin/spark-class org.apache.spark.deploy.worker.Worker spark://master:7077
    hostname: worker
    environment:
      SPARK_CONF_DIR: /conf
      SPARK_WORKER_CORES: 2
      SPARK_WORKER_MEMORY: 1g
      SPARK_WORKER_PORT: 8881
      SPARK_WORKER_WEBUI_PORT: 8082
      SPARK_PUBLIC_DNS: localhost
    links:
      - master
    expose:
      - 7012
      - 7013
      - 7014
      - 7015
      - 8881
    ports:
      - 8082:8082
    volumes:
      - ./spark/conf/worker:/conf
      - ./spark/data:/tmp/data

  # Mongo instance directly
  mongo:
    image: mongo
    volumes:
      - ./mongo/data:/data

  # Mongo-seeder (load students data in json)
  mongo-seed:
    build: ./mongo/seed
    depends_on:
      - mongo

  # Mongo express, to view our database
  mongo-express:
    image: mongo-express
    restart: always
    environment:
      # MongoExpress web credentials
      - ME_CONFIG_BASICAUTH_USERNAME=${MONGOEXPRESS_LOGIN}
      - ME_CONFIG_BASICAUTH_PASSWORD=${MONGOEXPRESS_PASSWORD}
      # MongoDB specific config
      - ME_CONFIG_MONGODB_ENABLE_ADMIN=true
    depends_on:
      - mongo
    ports:
      - "8081:8081"

  # Shiny server (For R)
  shiny:
    build: 'shiny/'
    restart: always
    user: 'root'
    ports:
      - '80:3838'
    volumes:
      - './shiny/logs:/var/log/shiny-server'
      - './shiny/mountpoints/apps:/srv/shiny-server'

