version: "3.7"

# Compose for the rShiny instances
services:
  shiny:
    image: rocker/shiny
    restart: always
    user: 'root'
    ports:
      - '80:3838'
    volumes:
      - './shiny/logs:/var/log/shiny-server'
      - './shiny/mountpoints/apps:/srv/shiny-server'
